.projhead {
        font-size: 2.5rem;
        color: #333333;
        border-bottom: 3px solid #4CAF50;
        display: inline-block;
        text-align: center;
        align-items: center;
        margin-left: 40px;
        margin-top: 20px;
        
       
       
    }

/* Projects Section */
.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 50px;
    margin-left: 40px;
}

.project-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
   
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-card h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #4CAF50;
}

.project-details p {
    margin: 10px 0;
}

.project-details strong {
    color: #333;
}

/* Responsive Design */
@media (max-width: 992px) {
    .projects {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .projects {
        grid-template-columns: 1fr;
    }
}







/* From Uiverse.io by alexruix */ 
.statusupdate {
    display: flex;
    align-items: center;
  }
  
  .status {
    min-height: 50px;
    max-width: 150px;
    padding: 0 1rem;
    color: #060606;
    font-size: 15px;
    border: 1px solid #5e4dcd;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
  }
  
  .statusbtn {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #5e4dcd;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  .statusbtn:hover {
    background-color: #5e5dcd;
  }
  
  .status:focus, .status:focus-visible {
    border-color: #3898EC;
    outline: none;
  }
  